{% extends 'base.html' %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}
<main class="m-10">

    <h1 class="text-3xl font-bold mb-6">Dashboard: {{ event.title }}</h1>

    <div class="flex justify-center mt-10 mb-10">
        <h1 class="font-bold text-4xl">Resumo dos Ingressos</h1>
    </div>

    <section class="flex justify-center gap-6 mb-10">
        <div class="bg-green-700 w-[300px] font-light text-2xl text-white flex flex-col items-center justify-center text-center border border-black">
            <h1>Ingressos Disponíveis</h1>
            <p>{{ disponiveis }}</p>
        </div>
        <div class="bg-red-700 w-[300px] font-light text-2xl text-white flex flex-col items-center justify-center text-center border border-black">
            <h1>Ingressos Emitidos</h1>
            <p>{{ emitidos }}</p>
        </div>
        <div class="bg-blue-700 w-[300px] font-light text-2xl text-white flex flex-col items-center justify-center text-center border border-black">
            <h1>Ingressos Validados</h1>
            <p>{{ validados }}</p>
        </div>
    </section>

   <form method="GET">
        {% csrf_token %}
        <select name="setor">
            <option value="">SETORES</option>
            {% for s in setores %}
                <option value="{{ s.id }}" {% if request.GET.setor ==  s.id|stringformat:"s" %}selected{% endif %}>{{s.title}}</option>
            {% endfor %}
        </select>
   </form>

   <div class="flex justify-center lg:flex-col items-center">
        <div>
            <canvas id="grafico01" class="w-[400px] h-[400px]"></canvas>
        </div>
        <div>
            <canvas id="grafico02" class="w-[400px] h-[400px]"></canvas>
        </div>
   </div>
   
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('grafico01');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Disponiveis', 'Emitidos'],
      datasets: [{
        label: '# of Votes',
        data: [{{disponiveis}}, {{emitidos}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

const ctx2 = document.getElementById('grafico02');

  new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: {{ labels_setor|safe }},
      datasets: [{
        label: '# of Votes',
        data: [ {{ data_setor|safe }} ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>



{% endblock %}
