{% extends 'base.html' %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}

<div class="m-10">
    <h1 class="font-bold text-3xl mt-5 mb-5">{{event.title}}</h1>
    <p class="mt-5 mb-5">{{event.eventaddress}} {{event.eventaddress.number}}</p>
    <p class="mt-5 mb-5">CEP: {{event.eventaddress.cep}}</p>
    <p class="mt-5 mb-5">Capacidade Máxima {{event.max_capacity}}</p>
</div>

<div class="flex justify-center">
    <img src="{{event.image.url}}" alt="Foto de Evento" class="rounded-2xl">
</div>

<form method="post">
    {% csrf_token %}
    {% for setor in setores %}
    <h1 class="flex justify-center mt-5 text-2xl">Ingressos Por Setor</h1>
    <div class="flex justify-center mt-5">
        <div class="flex flex-col items-center justify-center gap-6">
            <p class="text-2xl">{{setor.title}}</p>
            <div>
                <button type="button" onclick="descrease('{{setor.id}}')" class="text-3xl">-</button>
                <button type="button" onclick="inscrese('{{setor.id}}')" class="text-3xl">+</button>
            </div>

        </div>
    </div>

    <div id="count_{{setor.id}}" class="flex justify-center mt-5 text-3xl">0</div>
    <input type="hidden" name="setor_{{setor.id}}" id="input_{{setor.id}}" value="0">
    {% endfor %}

    <div class="flex justify-center mt-10 mb-10">
        <div class="flex flex-col items-center justify-center text-center">
            <h1 class="mt-5 mb-5 text-2xl font-bold">Dados do Cliente</h1>
            <input type="text" name="nome_cliente" placeholder="Nome Cliente" required  class="mt-5 mb-5 border border-black">
            <input type="text" name="cpf_cliente" placeholder="Cpf do Cliente" required  class="mt-5 mb-5 border border-black">
            <input type="text" name="email_cliente" placeholder="Email do Cliente" required  class="mt-5 mb-5 border border-black">
        </div>
       
    </div>


    <div class="flex justify-center mt-5">
        <button type="submit" class="bg-green-700 w-[200px] h-12 text-white rounded-2xl font-bold">Reservar Ingressos</button>
    </div>
</form>

<div class="flex justify-center mt-5 mb-5">
    <a href="{% url 'event_tickets_list' event.id %}" class="bg-blue-700 px-4 py-2 rounded-2xl text-white font-bold">Ingressos</a>
</div>

<script>
    const update=(id, v)=>{document.getElementById('input_' +id).value=v;document.getElementById('count_' +id).innerText=v}
    const inscrese=(id)=>{let v=+document.getElementById('input_' +id).value;update(id, v+1)}
    const descrease=(id)=>{let v=+document.getElementById('input_' +id).value;if(v>0)update(id, v-1)}
</script>

{% endblock %}
