{% extends 'base.html' %}
{% load static %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}

<main>
    <h1 class="flex justify-center text-4xl font-bold mt-10">Venda De Ingressos</h1>

    <div class="mt-10 flex justify-center">
        <img src="{{ event.image.url }}" alt="foto do evento" class="w-[400px]">
    </div>

    <p class="flex justify-center text-2xl mt-10 font-bold">{{ event.title }}</p>

    <form method="post">
        {% csrf_token %}
        <h2 class="flex justify-center mt-5 text-2xl">Ingressos por Setor</h2>
        
        <div class="flex flex-col items-center mt-10 text-2xl">
            {% for setor in setores %}
                <p class="mt-3">{{ setor.title }}</p>
                <div class="flex justify-center gap-4 mt-2">
                    <button type="button" onclick="descrease('{{ setor.id }}')" class="px-4 py-2 text-2xl">-</button>
                    <button type="button" onclick="inscrease('{{ setor.id }}')" class="px-4 py-2 text-2xl">+</button>
                </div>
                <div id="count_{{setor.id}}" class="text-2xl mt-2">0</div>
                <input type="hidden" name="setor_{{setor.id}}" id="input_{{setor.id}}">
            {% endfor %}
        </div>

        <div class="flex justify-center mt-10">
            <button type="submit" class="bg-blue-700 px-6 py-3 rounded-2xl font-bold text-white">Reservar Ingressos</button>
        </div>
    </form>

    <section class="flex justify-center mt-10 mb-10">
        <a href="{% url 'event_tickets_list' event.id %}">Ingressos</a>
    </section>
</main>

<script>
    const update=(id, v)=>{document.getElementById('input_' +id).value=v;document.getElementById('count_' +id).innerText=v}
    const inscrease=(id)=>{let v=+document.getElementById('input_' +id).value;update(id, v+1)}
    const descrease=(id)=>{let v=+document.getElementById('input_' +id).value;if(v>0)update(id, v-1)}
</script>

{% endblock %}
