{% extends 'base.html' %}
{% load static %}
{% load static tailwind_tags custom_tags %}
{% tailwind_css %}

{% block content %}

<main class="text-black">
<h1 class="text-3xl font-bold flex justify-center mt-10">Ingresso do Evento</h1>
<h2 class="text-2xl flex justify-center mt-10">{{ event.title }}</h2>
<p class="text-2xl flex justify-center mt-10"> {{ event.date }} </p>

<form method="post">
  {% csrf_token %}
  <label class="text-2xl flex justify-center mt-10">Código do ingresso:</label>
  <div class="flex justify-center mt-10">
    {{ form.ticket_code }}
  </div>
  <div class="flex justify-center mt-10">
    <button type="submit" class="bg-blue-700 px-6 py-3 rounded-2xl font-bold text-white">Validar</button>
  </div>
</form>


{% if validation_result %}
  <div class="flex justify-center mt-10">  {{  validation_result }} </div>
{% endif %}

</main>


{% endblock %}